.container {
<<<<<<< HEAD
    margin: auto;
    margin-top: 2rem;
    padding: .5rem;
    height:100vh;
    max-height: 550px;
    width: 100vw;
    max-width: 400px;
    border: black solid 1px;
=======
    padding: 2%;
    height:100%;
    width: 100%;
    max-width: 100%;
>>>>>>> 77b10f1730d99d0a6978d8827641911c67758986
}