.container {
    margin: auto;
    margin-top: 2rem;
    padding: .5rem;
    height:100vh;
    max-height: 540px;
    width: 100vw;
    max-width: 375px;
    border: black solid 1px;
}

@media only screen and (max-width: 374px) {
    .container {
        max-width: 319px;
        max-height: 475px;
    }
}