.buttonPadContainer {
    max-width: 375px;
    max-height: 445px;
    margin: auto;
    margin-top: .5rem;
    padding-bottom: .5rem;
    border: black solid 1px;
}

@media only screen and (max-width: 374px) {
    .buttonPadContainer {
        max-height: 375px;
    } 
}

