.buttonPadContainer {
<<<<<<< HEAD
    max-width: 375px;
    margin: auto;
    margin-top: .5rem;
    padding-bottom: .5rem;
=======
    margin: auto;
>>>>>>> 77b10f1730d99d0a6978d8827641911c67758986
    border: black solid 1px;
    width: 305px;
}
